<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Academic Multipurpose Website</title>

  <!-- ICONSOUT cdn -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/courses.css">
  <link rel="stylesheet" href="css/contact.css">
  <link rel="stylesheet" href="css/about.css">
  <link rel="stylesheet" href="css/post.css">
  <link rel="stylesheet" href="css/message.css">
  <link rel="stylesheet" href="css/404.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

  <script src="JS/script.js" defer></script>
</head>

<body>
  <header class="header">
    <div class="header_container">
      <div class="header_slide_container">
        <nav class="nav_container">
          <a href="/home">
            <figure class="logo_container">
              <img class="logo" src="/image/logo_200x200.png" alt="School logo" width="200" height="200">
            </figure>
          </a>
          

          <!-- aria-controls shows that this button controls the nav_menu. sr-only hides things visually but not the screen readers i.e it's visually invisible but screen readers can read it-->
          <button aria-controls="nav_menu" aria-expanded="false" class="mobile_nav_toggle">
            <span class="sr-only">Menu</span>
          </button>

          <div data-visible="false" id="nav_menu" class="nav_menu">
            <a class="nav_list" href="/home">
              <i class="fa-solid fa-house" aria-hidden="true"></i>
              <p>Home</p>
            </a>
            <a class="nav_list" href="/courses">
              <i class="fa-solid fa-pen-to-square" aria-hidden="true"></i>
              <p>Courses</p>
            </a>
            <a class="nav_list" href="/contact">
              <i class="fa-solid fa-address-book" aria-hidden="true"></i>
              <p>Contact</p>
            </a>
            <a class="nav_list" href="/about">
              <i class="fa-solid fa-tablet" aria-hidden="true"></i>
              <p>About</p>
            </a>
          </div>
        </nav>

        <!-- Header Details -->

        <div class="header_details">
          <div class="header_details_container_flex">
            <div class="header_detail_container">
              <h1 class="hearder_h1">
                <span class="hearder_h1_b1">School</span>
                <span class="hearder_h1_b2"> admission</span>
                open for <span class="current_year"></span>
              </h1>

              <div class="header_details_list_container">
                <div class="header_details_list list1">
                  <div class="list_point">
                    <figure class="list_point_img_container">
                      <img class="list_point_img" src="image/bullet3_200x200.png" alt="bullet image" width="200"
                        height="200">
                    </figure>
                    <div class="list_details">
                      <h5> Our school has a green play ground</h5>
                    </div>
                  </div>
                </div>

                <div class="header_details_list list2">
                  <div class="list_point">
                    <figure class="list_point_img_container">
                      <img class="list_point_img" src="image/bullet2_338x338.jpg" alt="bullet image" width="338"
                        height="338">
                    </figure>
                    <div class="list_details">
                      <h5> Our school has the best education plan</h5>
                    </div>
                  </div>
                </div>

                <div class="header_details_list list 3">
                  <div class="list_point">
                    <figure class="list_point_img_container">
                      <img class="list_point_img" src="image/bullet1_200x200.png" alt="bullet image" width="200"
                        height="200">
                    </figure>
                    <div class="list_details">
                      <h5> Our school has world class faculty</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div>
              <a href="/unavailable">
                <button class="ripple_button enrol_ripple_btn">
                  <p>Enrol Now!</p>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="header_section">
    <div class="header_section_container">

      <div class="social_media_analytics">
        <div class="social_media_stats">
          <div class="social_media_content">
            <p class="social_media_p"> Social Media Analytics</p>
            <div class="icon_container">
              <!-- Each social media container -->

              <div class="icons twitter">
                <i class="fab fa-twitter"></i>
                <div class="icon_content">
                  <div class="stats" data-target="9160"></div>
                  <small class="social_media_small">Followers</small>
                </div>
              </div>

              <div class="icons facebook">
                <i class="fab fa-facebook"></i>
                <div class="icon_content">
                  <div class="stats" data-target="3902"></div>
                  <small class="social_media_small">Fans</small>
                </div>
              </div>

              <div class="icons linkedIn">
                <i class="fab fa-linkedin"></i>
                <div class="icon_content">
                  <div class="stats" data-target="6570"></div>
                  <small class="social_media_small">Connections</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <form action="/search" method="post">
        <div class="header_search_widget">
          <div class="search-container">
            <input type="text" class="input" placeholder="Search..." name="searchQuery" id="searchQuery">
            <button class="btn" id="searchButton" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>
      

    </div>
  </section>