<%- include("partials/header"); -%>

  <main class="page_404" id="page_id">
    <div class="contaner">
      <section class="container_404">
        <div class="details_404">
          <p><hr class="hr_404"></p>
          <h1>Ooops!</h1>
          <p> <%= infoDisplay %></p>
          <div class="button_container_404">
            <div>
              <button class="ripple_button rbn go_back_ripple_btn" id="goBackButton">
                <p>Go Back</p>
              </button>
            </div>
            
            <div>
              <a href="/home">
                <button class="ripple_button rbn go_home_ripple_btn">
                  <p>Go Home</p>
                </button>
              </a>
            </div>
          </div>

        </div>
        <div class="image_404">
          <figure class="image_container_404">
            <img src="<%= imageURL %>" alt="404 image" width="637" height="592">
            <figcaption class="sr-only">
              404 image
            </figcaption>
          </figure>
        </div>
      </section>
    </div>
  </main>

  <script type="text/javascript">
    const goBackButton = document.getElementById("goBackButton");
      goBackButton.addEventListener("click", () => {
        window.history.back();
      });
  </script>

<%- include("partials/footer"); -%>