<%- include("partials/header"); -%>

  <main class="page_404" id="page_404">
    <div class="contaner">
      <section class="container_404">
        <div class="details_404">
          <p><hr class="hr_404"></p>
          <h1>Ooops!</h1>
          <p>The page you requested for was not found, and we have a fine guess why. If you typed the URL directly, please make sure the spelling is correct. If you clicked on a link to get here, the link is outdated. What can you do? Have no fear, help is near.
          </p>
          <div class="button_container_404">
            <div>
              <button class="ripple_button rbn go_back_ripple_btn">
                <p>Go Back</p>
              </button>
            </div>
            
            <div>
              <button class="ripple_button rbn go_home_ripple_btn">
                <p>Go Home</p>
              </button>
            </div>
          </div>

        </div>
        <div class="image_404">
          <figure class="image_container_404">
            <img src="image/404_image_617x626.png" alt="404 image" width="637" height="592">
            <figcaption class="sr-only">
              404 image
            </figcaption>
          </figure>
        </div>
      </section>
    </div>
  </main>

<%- include("partials/footer"); -%>