<%- include("partials/header"); -%>

  <main class="about_page">
    <div class="about_page_container container">
      <!-- Tab Section Starts here -->
      <section class="hide_scroll_animation from_top">
        <div class="section_title">
          <h1 id="tab_title">Mission & Vision</h1>
        </div>
        <div class="section_title_underline"></div>

        <!-- <h1 class="tab_sub_title"> For our best quality, you have chosen us!</h1> -->

        <div class="tabs_container hide_scroll_animation from_left">
          <!-- I think aria-lebelledby serves the same purpose "for" does in a form input and label element -->
          <ul class="about_tab_ul" aria-labelledby="tab_title">
            <li class="about_tab_li"> <a id="tab_1" href="#overview">Overview</a></li>
            <li class="about_tab_li"> <a id="tab_2" href="#founder">Founder</a></li>
            <li class="about_tab_li"> <a id="tab_3" href="#mission">Mission</a></li>
          </ul>
          <div class="tabs_panels">
            <div id="overview" aria-labelledby="tab_1">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam sunt tempora dolores suscipit animi veniam, consequuntur corporis, est asperiores unde ipsa nesciunt eligendi neque enim officia ratione sapiente, repellat molestiae?
                <small class="middle">
                  Deleniti libero culpa dolores, cum dolore soluta at distinctio maxime facere aliquid quo odio alias dignissimos iste
                  atque enim repellendus molestias doloremque sapiente
                  Deleniti libero culpa dolores, cum dolore soluta at distinctio maxime facere aliquid quo odio alias dignissimos iste
                  atque enime
                </small>
                <small class="last">
                  Deleniti libero culpa dolores, cum dolore soluta at distinctio maxime facere aliquid quo odio alias dignissimos iste
                  atque enim repellendus molestias doloremque sapiente accusantium est? Eos blanditiis beatae aspernatur maiores.
                  Deleniti libero cul aliquid quo odio alias dignissimos iste
                  atque enim repellendus molestias doloremque sapiente accusantium est? Eos blanditiis beatae aspernatur maiores.
                </small>
              </p>
            </div>
            <div id="founder" aria-labelledby="tab_2">
              <p>
                Enim officia ratione sapiente, repellat molestiae?Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam sunt tempora dolores suscipit animi veniam,
                consequuntur corporis, est asperiores unde ipsa nesciunt eligendi neque e
                <small class="middle">
                  Deleniti libero culpa dolores, cum dolore soluta at distinctio maxime facere aliquid quo odio alias dignissimos iste
                  atque enim repellendus molestias doloremque sapiente
                  Deleniti liberoid quo odio alias dignissimos iste
                  atque enim repellendus molestias doloremque sapiente
                </small>
                <small class="last">
                  Deleniti libero culpa dolores, cum dolore soluta at distinctio maxime facere aliquid quo odio alias dignissimos iste
                  atque enim repellendus molestias doloremque sapiente accusantium est? Eos blanditiis beatae aspernatur maiores.
                  Deleniti libero culpa quo odio alias dignissimos iste
                  atque enim repellendus molestias doloremque sapiente accusantium est? Eos blanditiis beatae aspernatur maiores.
                </small>
              </p>
            </div>
            <div id="mission" aria-labelledby="tab_3">
              <p>
                Deleniti libero culpa dolores, cum dolore soluta at distinctio maxime facere aliquid quo odio alias dignissimos iste
                atque enim repellendus molestias doloremque sapiente accusantium est? Eos blanditiis beatae aspernatur maiores.
                <small class="middle">
                  Deleniti libero culpa dolores, cum dolore soluta at distinctio maxime facere aliquid quo odio alias dignissimos iste
                  atque enim repellendus molestias doloremque sapiente libero culpa dolores, cum dolore s aliquid quo odio alias dignissimos iste
                  atque enim repellendus molestias doloremque sapiente
                </small>
                <small class="last">
                  Deleniti libero culpa dolores, cum dolore soluta at distinctio maxime facere aliquid quo odio alias dignissimos iste
                  atque enim repellendus mol
                  Deleniti libero culpa dolores, cum dolore soluta at distinctio maxime facere aliquid quo odio alias dignissimos iste
                  atque enim repellendus molestias doloremque sapiente accusantium est? Eos blanditiis beatae aspernatur maiores.
                </small>
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- About us section starts here -->
      <section>
        <div class="about_us hide_scroll_animation from_top">
          <div class="about_us_container">
            <div class="about_us_top">
              <div class="about_us_img">
                <figure class="about_img_container">
                  <img src="/image/about_2830x1883.jpeg" alt="about page image" width="2830" height="1883">
                  <figcaption class="sr-only">about page image</figcaption>
                </figure>
              </div>
              <div class="about_us_details">
                <h3>About Us</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor sint sit ducimus porro it ducimus porrov mollitia fugiat, nam rerum asperiores consectetur.</p>
                <p><em>Wilson <span>College</span></em></p>
                <div class="about_us_link">
                  <a href="">LEARN MORE</a>
                </div>
              </div>
            </div>
            <div class="about_us_bottom">
              <div class="bottom_notes">
                <article class="bottom_article1">
                  <h3>01</h3>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad corrupti eum ducimus minus ipsa illo cum maiores, dolorem quidem harum impedit inus ipsa illo cum maiores, dolorem quidem harum impedit modi repellendu modi repellendus! Ad, ex. Officia quo volore. Laboriosam nobis consequuntur ad molestias laudantium rafuga ab non!</p>
                </article>
                <article class="bottom_article2">
                  <h3>02</h3>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad corrupti eum ducimus minus ipsa illo cum maiores, dolorem quidem harum impedit modi repellendus! Ad, ex. Officia quo inus ipsa illo cum maiores, dolorem quidem harum impedit modi repellendu voluptatum nulla sed?
                  Id non nisi fugit dolore. Laboriosam nobis consequuntur ad fuga ab non!</p>
                </article>
                <article class="bottom_article3">
                  <h3>03</h3>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad corrupti eum ducimus minus ipsa illo cum maiores, dolorem quidem harum impedit modi repellendus! Ad, ex. Officia quo inus ipsa illo cum maiores, dolorem quidem harum impedit modi repellendu vorepellat commodi, tempore magni. Ipsum in fuga ab non!</p>
                </article>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <!-- Our Team section starts here -->
      <section class="team_section hide_scroll_animation from_left">
        <div class="section_title ">
          <h1 id="tab_title">Meet Our Team</h1>
        </div>
        <div class="section_title_underline"></div>
        <div class="team_member_container">
          <div class="tm">
            <div class="tm_img">
              <figure class="tm_img_container">
                <img src="/image/tm8.jpg" alt="team member" width="400" height="400">
                <figcaption class="sr-only">team member image</figcaption>
              </figure>
            </div>
            <div class="tm_details">
              <div class="name">
                <h5>Mike Duke</h5>
              </div>
              <div class="position">
                <p>SE Tutor</p>
              </div>
            </div>
            <div class="tm_social">
              <div class="instagram">
                <i class="fa-brands fa-instagram"></i>
              </div>
              <div class="twitter">
                <i class="fa-brands fa-twitter"></i>
              </div>
              <div class="linkedIn">
                <i class="fa-brands fa-linkedin-in"></i>
              </div>
            </div>
          </div>
          <div class="tm">
            <div class="tm_img">
              <figure class="tm_img_container">
                <img src="/image/tm1.jpg" alt="team member" width="400" height="400">
                <figcaption class="sr-only">team member image</figcaption>
              </figure>
            </div>
            <div class="tm_details">
              <div class="name">
                <h5>Chandler Ashley</h5>
              </div>
              <div class="position">
                <p>ML Tutor</p>
              </div>
            </div>
            <div class="tm_social">
              <div class="instagram">
                <i class="fa-brands fa-instagram"></i>
              </div>
              <div class="twitter">
                <i class="fa-brands fa-twitter"></i>
              </div>
              <div class="linkedIn">
                <i class="fa-brands fa-linkedin-in"></i>
              </div>
            </div>
          </div>
          <div class="tm">
            <div class="tm_img">
              <figure class="tm_img_container">
                <img src="/image/tm2.jpg" alt="team member" width="400" height="400">
                <figcaption class="sr-only">team member image</figcaption>
              </figure>
            </div>
            <div class="tm_details">
              <div class="name">
                <h5>Karen Kadesh</h5>
              </div>
              <div class="position">
                <p>DSA Tutor</p>
              </div>
            </div>
            <div class="tm_social">
              <div class="instagram">
                <i class="fa-brands fa-instagram"></i>
              </div>
              <div class="twitter">
                <i class="fa-brands fa-twitter"></i>
              </div>
              <div class="linkedIn">
                <i class="fa-brands fa-linkedin-in"></i>
              </div>
            </div>
          </div>
          <div class="tm">
            <div class="tm_img">
              <figure class="tm_img_container">
                <img src="/image/tm3.jpg" alt="team member" width="400" height="400">
                <figcaption class="sr-only">team member image</figcaption>
              </figure>
            </div>
            <div class="tm_details">
              <div class="name">
                <h5>Karen Kadesh</h5>
              </div>
              <div class="position">
                <p>SE Tutor</p>
              </div>
            </div>
            <div class="tm_social">
              <div class="instagram">
                <i class="fa-brands fa-instagram"></i>
              </div>
              <div class="twitter">
                <i class="fa-brands fa-twitter"></i>
              </div>
              <div class="linkedIn">
                <i class="fa-brands fa-linkedin-in"></i>
              </div>
            </div>
          </div>
          <div class="tm">
            <div class="tm_img">
              <figure class="tm_img_container">
                <img src="/image/tm4.jpg" alt="team member" width="400" height="400">
                <figcaption class="sr-only">team member image</figcaption>
              </figure>
            </div>
            <div class="tm_details">
              <div class="name">
                <h5>Karen Kadesh</h5>
              </div>
              <div class="position">
                <p>Data Analytics</p>
              </div>
            </div>
            <div class="tm_social">
              <div class="instagram">
                <i class="fa-brands fa-instagram"></i>
              </div>
              <div class="twitter">
                <i class="fa-brands fa-twitter"></i>
              </div>
              <div class="linkedIn">
                <i class="fa-brands fa-linkedin-in"></i>
              </div>
            </div>
          </div>
          <div class="tm">
            <div class="tm_img">
              <figure class="tm_img_container">
                <img src="/image/tm5.jpg" alt="team member" width="400" height="400">
                <figcaption class="sr-only">team member image</figcaption>
              </figure>
            </div>
            <div class="tm_details">
              <div class="name">
                <h5>Karen Kadesh</h5>
              </div>
              <div class="position">
                <p>ML Tutor</p>
              </div>
            </div>
            <div class="tm_social">
              <div class="instagram">
                <i class="fa-brands fa-instagram"></i>
              </div>
              <div class="twitter">
                <i class="fa-brands fa-twitter"></i>
              </div>
              <div class="linkedIn">
                <i class="fa-brands fa-linkedin-in"></i>
              </div>
            </div>
          </div>
          <div class="tm">
            <div class="tm_img">
              <figure class="tm_img_container">
                <img src="/image/tm6.jpg" alt="team member" width="400" height="400">
                <figcaption class="sr-only">team member image</figcaption>
              </figure>
            </div>
            <div class="tm_details">
              <div class="name">
                <h5>Karen Kadesh</h5>
              </div>
              <div class="position">
                <p>DSA Tutor</p>
              </div>
            </div>
            <div class="tm_social">
              <div class="instagram">
                <i class="fa-brands fa-instagram"></i>
              </div>
              <div class="twitter">
                <i class="fa-brands fa-twitter"></i>
              </div>
              <div class="linkedIn">
                <i class="fa-brands fa-linkedin-in"></i>
              </div>
            </div>
          </div>
          <div class="tm">
            <div class="tm_img">
              <figure class="tm_img_container">
                <img src="/image/tm9.jpg" alt="team member" width="400" height="400">
                <figcaption class="sr-only">team member image</figcaption>
              </figure>
            </div>
            <div class="tm_details">
              <div class="name">
                <h5>Karen Kadesh</h5>
              </div>
              <div class="position">
                <p>Data Science</p>
              </div>
            </div>
            <div class="tm_social">
              <div class="instagram">
                <i class="fa-brands fa-instagram"></i>
              </div>
              <div class="twitter">
                <i class="fa-brands fa-twitter"></i>
              </div>
              <div class="linkedIn">
                <i class="fa-brands fa-linkedin-in"></i>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>


  <script src="JS/about.js"></script>

  <%- include("partials/footer"); -%>