<%- include("partials/header"); -%>

  <main> 
    <div class="tab">
      <ul class="tab_ul">
        <li>
          <a href="#categories" class="tab_1">Categories</a>
        </li>
        <li>
          <a href="#faq_section" class="tab_1">FAQs</a>
        </li>
        <li>
          <a href="#staff" class="tab_1">Staff</a>
        </li>
      </ul>
      <hr>
    </div>

    <!-- POPULAR COURSES SECTION -->

    <section class="popular_courses">
      <div class="container popular_courses_container general_underline hide_scroll_animation scale_from_top">
        <div class="h1_underline">
          <h1>Our Popular Courses</h1>
        </div>
        <div class="underline"></div>
        <p class="main_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe aut eos tenetur, ipsum quos ipsa praesentium delenitisuscipit dolor quibusdam totam repellat pariatur fugit voluptate dolorem accusantium iure veritatis fugiat!</p>
        <div class="article_container">
          <article>
            <figure>
              <img src="/image/course1.jpg" alt="course image">
              <figcaption class="sr-only">Courses</figcaption>
            </figure>
            <div class="popular_course_details">
              <h3>Internet Application Development </h3>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae, totam. Quisquam nulla voluptatem tempora eum recusandae. Fugiat dolorum amet quasi consectetur ipsa, sed minus natus distinctio, ex.
              </p>
              <a href="#" class="btn_origin btn-primary">Learn More</a>
            </div>
          </article>

          <article>
            <figure>
              <img src="/image/course2.jpg" alt="course image">
              <figcaption class="sr-only">Courses</figcaption>
            </figure>
            <div class="popular_course_details">
              <h3>Responsive Website Design </h3>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae, totam. Quisquam nulla voluptatem tempora eum recusandae. Fugiat dolorum amet quasi consectetur ipsa, sed minus natus distinctio, ex.
              </p>
              <a href="#" class="btn_origin btn-primary">Learn More</a>
            </div>
          </article>

          <article>
            <figure>
              <img src="/image/course3.jpg" alt="course image">
              <figcaption class="sr-only">Courses</figcaption>
            </figure>
            <div class="popular_course_details">
              <h3>Data Management and Analytics </h3>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae, totam. Quisquam nulla voluptatem tempora eum recusandae. Fugiat dolorum amet quasi consectetur ipsa, sed minus natus distinctio, ex.
              </p>
              <a href="#" class="btn_origin btn-primary">Learn More</a>
            </div>
          </article>
        </div>
      </div>
    </section>

    <!-- CATEGORIES SECTION -->

    <section class="categories hide_scroll_animation from_left" id="categories">
      <div class="container categories__container">
    
        <div class="categories__left">
          <h1>Categories</h1>
          <p class="main_p">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis non cupiditate recusandae. Corporis placeat
            necessitatibus molestias, beatae impedit recusandae debitis doloremque ab dolorem? Quod, tempore quis pariatur
            sunt sequi mollitia.
          </p>
          <a href="#" class="btn_origin">Learn More</a>
        </div>
    
    
        <div class="categories__right">
          <article class="category">
            <span class="category__icon"><i class="uil uil-bitcoin-circle"></i></span>
            <h5>Blockchain</h5>
            <p>Lorem ipsum dolor sit amet consectur adipisicing elit. Ad, quis.</p>
          </article>
    
          <article class="category">
            <span class="category__icon"><i class="uil uil-palette"></i></span>
            <h5>Graphics Design</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, quis.</p>
          </article>
    
          <article class="category">
            <span class="category__icon"><i class="uil uil-usd-circle"></i></span>
            <h5>Finance</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, quis.</p>
          </article>
    
          <article class="category">
            <span class="category__icon"><i class="uil uil-megaphone"></i></span>
            <h5>Marketing</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, quis.</p>
          </article>
    
          <article class="category">
            <span class="category__icon"><i class="uil uil-music"></i></span>
            <h5>Music</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, quis.</p>
          </article>
    
          <article class="category">
            <span class="category__icon"><i class="uil uil-puzzle-piece"></i></span>
            <h5>Business</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, quis.</p>
          </article>
        </div>
    
      </div>
    </section>

    <!-- ADMIN SECTION -->

    <section class="admin" id="staff">
      <div class="h1_underline">
        <h1>Administrative Staff</h1>
        <div class="underline"></div>
      </div>
      <div class="staff_section section staff_grid">
        <div class="staff_container staff_1">
          <div class="picture">
            <p class="offscreen">sbhhbw</p>
          </div>
          <div class="details">
            <div class="details_info">
              <h3>Undergraduate Study</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit amet. Lorem ipsum dolor sit. Lorem ipsum dolor sit amet.
              </p>
            </div>
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        </div>

        <div class="staff_container staff_2">
          <div class="picture">
            <p class="offscreen">sbhhbw</p>
          </div>
          <div class="details">
            <div class="details_info">
              <h3>Undergraduate Study</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit amet. Lorem ipsum dolor sit. Lorem ipsum dolor sit amet.
              </p>
            </div>
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        </div>

        <div class="staff_container staff_3">
          <div class="picture">
            <p class="offscreen">sbhhbw</p>
          </div>
          <div class="details">
            <div class="details_info">
              <h3>Postgraduate Study</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit amet. Lorem ipsum dolor sit. Lorem ipsum dolor sit amet.
              </p>
            </div>
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        </div>

        <div class="staff_container staff_4">
          <div class="picture">
            <p class="offscreen">sbhhbw</p>
          </div>
          <div class="details">
            <div class="details_info">
              <h3>Postgraduate Study</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit amet. Lorem ipsum dolor sit. Lorem ipsum dolor sit amet.
              </p>
            </div>
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        </div>

        <div class="staff_container staff_5">
          <div class="picture">
            <p class="offscreen">sbhhbw</p>
          </div>
          <div class="details">
            <div class="details_info">
              <h3>Postgraduate Study</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit amet. Lorem ipsum dolor sit. Lorem ipsum dolor sit amet.
              </p>
            </div>
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        </div>

      </div>
  </section>

  <!-- FAQs SECTION -->

  <section class="faq_section" id="faq_section">
    <div class="container general_underline hide_scroll_animation from_top">
      <div class="h1_underline">
        <h1>Frequently asked Questions</h1>
      </div>
      <div class="underline"></div>

      <div class="faq-container">
        <div class="faq">
          <h3 class="faq-question">
            Why shouldn't we trust atoms?
          </h3>
      
          <p class="faq-answer">
            They make up everything
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium omnis harum facilis consequuntur laboriosam
            ipsam iste velit, vero libero distinctio, tenetur est nulla labore quod blanditiis aperiam, placeat aspernatur
            alias?
          </p>
      
          <button class="faq-toggle">
            <i class="uil uil-plus"></i>
          </button>
        </div>
      
        <div class="faq">
          <h3 class="faq-question">
            Will I continue to have access to the course materials after completing the program?
          </h3>
          <p class="faq-answer">
            Nobody knows. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum dolores repudiandae, maiores est
            facilis sit fugit quis, aperiam.
          </p>
          <button class="faq-toggle">
            <i class="uil uil-plus"></i>
          </button>
        </div>
      
        <div class="faq">
          <h3 class="faq-question">
            What's the object-oriented way to become wealthy?
          </h3>
          <p class="faq-answer">
            Inheritance.
            Lorem ipsum Odit assumenda dolores, earum nostrum repudiandae molestias magnam quasi cumque nihil quam possimus
            quaerat fugiat soluta eum accusamus, vero illum, nam culpa!
          </p>
          <button class="faq-toggle">
            <i class="uil uil-plus"></i>
          </button>
        </div>
      
        <div class="faq">
          <h3 class="faq-question">
            How many tickles does it take to tickle an octopus?
          </h3>
          <p class="faq-answer">
            Ten-tickles! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio quidem esse deserunt laboriosam
            veniam dolorum ipsa ipsum laborum, quibusdam neque.
          </p>
          <button class="faq-toggle">
            <i class="uil uil-plus"></i>
          </button>
        </div>
      
        <div class="faq">
          <h3 class="faq-question">
            How much time should I invest in the workshop?
          </h3>
          <p class="faq-answer">
            Depends on who are you asking.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero maxime eveniet harum!
          </p>
          <button class="faq-toggle">
            <i class="uil uil-plus"></i>
      
          </button>
        </div>
      </div>
    </div>
  </section>


  <!-- REVIEW SECTION -->

  <section class="reviews">
    <div class="container general_underline hide_scroll_animation">
      <div class="h1_underline">
        <h1 class="no-wrap"> Students Reviews</h1>
      </div>
      <div class="underline"></div>

      <div class="reviews_content swiper mySwiper">
        <div class="swiper-wrapper">
          <ul class="reviews_list swiper-slide">
            <li class="card prev">
              <div class="reviewer_container">
                <figure class="reviewer_picture">
                  <img src="image/avatar1.jpg" alt="reviewer_picture" width="150" height="150">
                  <figcaption class="sr-only">
                    Reveivers Picture
                  </figcaption>
                </figure>
                <div class="reviewer_details">
                  <div class="reviewer_name">
                    <h5>Angela Yu</h5>
                  </div>
                  <div class="reviewer_position">
                    <small>CEO App  Brewerry</small>
                  </div>
                  <div class="reviewer_message">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, libero ut nemo officiis necessitatibus sint
                      commodi nulla similique expedita.</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="card act">
              <div class="reviewer_container">
                <figure class="reviewer_picture">
                  <img src="image/avatar1.jpg" alt="reviewer_picture" width="150" height="150">
                  <figcaption class="sr-only">
                    Reveivers Picture
                  </figcaption>
                </figure>
                <div class="reviewer_details">
                  <div class="reviewer_name">
                    <h5>Angela Yu</h5>
                  </div>
                  <div class="reviewer_position">
                    <small>CEO App  Brewerry</small>
                  </div>
                  <div class="reviewer_message">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, libero ut nemo officiis necessitatibus sint
                      commodi nulla similique expedita.</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="card next">
              <div class="reviewer_container">
                <figure class="reviewer_picture">
                  <img src="image/avatar1.jpg" alt="reviewer_picture" width="150" height="150">
                  <figcaption class="sr-only">
                    Reveivers Picture
                  </figcaption>
                </figure>
                <div class="reviewer_details">
                  <div class="reviewer_name">
                    <h5>Angela Yu</h5>
                  </div>
                  <div class="reviewer_position">
                    <small>CEO App Brewery</small>
                  </div>
                  <div class="reviewer_message">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, libero ut nemo officiis necessitatibus sint
                      commodi nulla similique expedita.</p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <ul class="reviews_list swiper-slide">
            <li class="card prev">
              <div class="reviewer_container">
                <figure class="reviewer_picture">
                  <img src="image/avatar2.jpg" alt="reviewer_picture" width="150" height="150">
                  <figcaption class="sr-only">
                    Reveivers Picture
                  </figcaption>
                </figure>
                <div class="reviewer_details">
                  <div class="reviewer_name">
                    <h5>Jack Bauer</h5>
                  </div>
                  <div class="reviewer_position">
                    <small>CEO Hollywood</small>
                  </div>
                  <div class="reviewer_message">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, libero ut nemo officiis necessitatibus sint
                      commodi nulla similique expedita.</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="card act">
              <div class="reviewer_container">
                <figure class="reviewer_picture">
                  <img src="image/avatar2.jpg" alt="reviewer_picture" width="150" height="150">
                  <figcaption class="sr-only">
                    Reveivers Picture
                  </figcaption>
                </figure>
                <div class="reviewer_details">
                  <div class="reviewer_name">
                    <h5>Jack Bauer</h5>
                  </div>
                  <div class="reviewer_position">
                    <small>CEO Hollywood</small>
                  </div>
                  <div class="reviewer_message">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, libero ut nemo officiis necessitatibus sint
                      commodi nulla similique expedita.</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="card next">
              <div class="reviewer_container">
                <figure class="reviewer_picture">
                  <img src="image/avatar2.jpg" alt="reviewer_picture" width="150" height="150">
                  <figcaption class="sr-only">
                    Reveivers Picture
                  </figcaption>
                </figure>
                <div class="reviewer_details">
                  <div class="reviewer_name">
                    <h5>Jack Bauer</h5>
                  </div>
                  <div class="reviewer_position">
                    <small>CEO Hollywood</small>
                  </div>
                  <div class="reviewer_message">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, libero ut nemo officiis necessitatibus sint
                      commodi nulla similique expedita.</p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <ul class="reviews_list swiper-slide">
            <li class="card prev">
              <div class="reviewer_container">
                <figure class="reviewer_picture">
                  <img src="image/avatar3.jpg" alt="reviewer_picture" width="150" height="150">
                  <figcaption class="sr-only">
                    Reveivers Picture
                  </figcaption>
                </figure>
                <div class="reviewer_details">
                  <div class="reviewer_name">
                    <h5>ThankGod Enemuo</h5>
                  </div>
                  <div class="reviewer_position">
                    <small>Full-Stack Engineer</small>
                  </div>
                  <div class="reviewer_message">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, libero ut nemo officiis necessitatibus sint
                      commodi nulla similique expedita.</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="card act">
              <div class="reviewer_container">
                <figure class="reviewer_picture">
                  <img src="image/avatar3.jpg" alt="reviewer_picture" width="150" height="150">
                  <figcaption class="sr-only">
                    Reveivers Picture
                  </figcaption>
                </figure>
                <div class="reviewer_details">
                  <div class="reviewer_name">
                    <h5>ThankGod Enemuo</h5>
                  </div>
                  <div class="reviewer_position">
                    <small>Full-Stack Engineer</small>
                  </div>
                  <div class="reviewer_message">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, libero ut nemo officiis necessitatibus sint
                      commodi nulla similique expedita.</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="card next">
              <div class="reviewer_container">
                <figure class="reviewer_picture">
                  <img src="image/avatar3.jpg" alt="reviewer_picture" width="150" height="150">
                  <figcaption class="sr-only">
                    Reveivers Picture
                  </figcaption>
                </figure>
                <div class="reviewer_details">
                  <div class="reviewer_name">
                    <h5>ThankGod Enemuo</h5>
                  </div>
                  <div class="reviewer_position">
                    <small>Full-Stack Engineer</small>
                  </div>
                  <div class="reviewer_message">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, libero ut nemo officiis necessitatibus sint
                      commodi nulla similique expedita.</p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <ul class="reviews_list swiper-slide">
            <li class="card prev">
              <div class="reviewer_container">
                <figure class="reviewer_picture">
                  <img src="image/avatar4.jpg" alt="reviewer_picture" width="150" height="150">
                  <figcaption class="sr-only">
                    Reveivers Picture
                  </figcaption>
                </figure>
                <div class="reviewer_details">
                  <div class="reviewer_name">
                    <h5>Karren Beauty</h5>
                  </div>
                  <div class="reviewer_position">
                    <small>CEO Unveiling-TECH</small>
                  </div>
                  <div class="reviewer_message">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, libero ut nemo officiis necessitatibus sint
                      commodi nulla similique expedita.</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="card act">
              <div class="reviewer_container">
                <figure class="reviewer_picture">
                  <img src="image/avatar4.jpg" alt="reviewer_picture" width="150" height="150">
                  <figcaption class="sr-only">
                    Reveivers Picture
                  </figcaption>
                </figure>
                <div class="reviewer_details">
                  <div class="reviewer_name">
                    <h5>Karren Beauty</h5>
                  </div>
                  <div class="reviewer_position">
                    <small>CEO Unveiling-TECH</small>
                  </div>
                  <div class="reviewer_message">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, libero ut nemo officiis necessitatibus sint
                      commodi nulla similique expedita.</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="card next">
              <div class="reviewer_container">
                <figure class="reviewer_picture">
                  <img src="image/avatar4.jpg" alt="reviewer_picture" width="150" height="150">
                  <figcaption class="sr-only">
                    Reveivers Picture
                  </figcaption>
                </figure>
                <div class="reviewer_details">
                  <div class="reviewer_name">
                    <h5>Karren Beauty</h5>
                  </div>
                  <div class="reviewer_position">
                    <small>CEO Unveiling-TECH</small>
                  </div>
                  <div class="reviewer_message">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, libero ut nemo officiis necessitatibus sint
                      commodi nulla similique expedita.</p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <ul class="reviews_list swiper-slide">
            <li class="card prev">
              <div class="reviewer_container">
                <figure class="reviewer_picture">
                  <img src="image/avatar5.jpg" alt="reviewer_picture" width="150" height="150">
                  <figcaption class="sr-only">
                    Reveivers Picture
                  </figcaption>
                </figure>
                <div class="reviewer_details">
                  <div class="reviewer_name">
                    <h5>Eva Green</h5>
                  </div>
                  <div class="reviewer_position">
                    <small>Data Scientist</small>
                  </div>
                  <div class="reviewer_message">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, libero ut nemo officiis necessitatibus sint
                      commodi nulla similique expedita.</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="card act">
              <div class="reviewer_container">
                <figure class="reviewer_picture">
                  <img src="image/avatar5.jpg" alt="reviewer_picture" width="150" height="150">
                  <figcaption class="sr-only">
                    Reveivers Picture
                  </figcaption>
                </figure>
                <div class="reviewer_details">
                  <div class="reviewer_name">
                    <h5>Eva Green</h5>
                  </div>
                  <div class="reviewer_position">
                    <small>Data Scientist</small>
                  </div>
                  <div class="reviewer_message">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, libero ut nemo officiis necessitatibus sint
                      commodi nulla similique expedita.</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="card next">
              <div class="reviewer_container">
                <figure class="reviewer_picture">
                  <img src="image/avatar5.jpg" alt="reviewer_picture" width="150" height="150">
                  <figcaption class="sr-only">
                    Reveivers Picture
                  </figcaption>
                </figure>
                <div class="reviewer_details">
                  <div class="reviewer_name">
                    <h5>Eva Green</h5>
                  </div>
                  <div class="reviewer_position">
                    <small>Data Scientist</small>
                  </div>
                  <div class="reviewer_message">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, libero ut nemo officiis necessitatibus sint
                      commodi nulla similique expedita.</p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <!-- <div class="hr"> -->
    <hr>
  </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script>
    const swiper = new Swiper(".mySwiper", {
      pagination: {
        el: ".swiper-pagination",
        dynamicBullets: true,
      },
    });
  </script>

  <%- include("partials/footer"); -%>