<%- include("partials/header"); -%>

  <main class="message_page" id="page_id">
    <div class="container">
      <section class="message_container">
        <div class="message">
          <figure class="message_img_container1">
            <img src="/image/babydog_400x250.png" alt="puppy image" width="400" height="250">
            <figcaption class="sr-only">puppy</figcaption>
          </figure>
          <h3>Hi! <span><%= senderName %></span>...&#9995</h3>
        </div>
        <div class="message_details">
          <p>We are delighted to receive a feedback from you&#128536</p>
          <p class="bold"> Please check your inbox regularly for an email from us if your message requires a response</p>
          <p>PS: If you don't see a response from us, check your spam or junk.</p>
          <p>Somtimes the response message ends up their by mistake</p>
        </div>
        
        <div class="dev_details">
          <p> You love our Website?</p>
          <p>Lets connet you with the developer</p>
          <div class="lets_go_container">
            <a href="http://">
              <figure class="message_img_container2">
                <img src="/image/letsgo_400x250.png" alt="let's go image" width="400" height="250">
                <figcaption class="sr-only">Image link to developer's LinkedIn profile</figcaption>
              </figure>
            </a>
          </div>
          
        </div>
      </section>
    </div>
  </main>

  <%- include("partials/footer"); -%>