<%- include("partials/header"); -%>

  <main class="post_page" id="post_page">
    <div class="notification">
      <h3>Internet Application Development</h3>
    </div>

    <div class="timeline">
      <div class="timeline_container left">
        <div class="content">
          <h2>Overview</h2>
          <p>Internet Application Development is a master's sequence in Information Systems and is ideal for students seeking
          advanced knowledge in web development. The program provides specialized education in emerging technologies, including
          mobile application development.</p>
        </div>
      </div>
    
    
      <div class="timeline_container right">
        <div class="content">
          <h2>How to Apply</h2>
          <p>A student applying to a master's program must:</p>
          <ul>
            <li> 
              <p>
              have earned a four-year bachelor's degree or its equivalent from a college or university that is accredited by the
              appropriate regional accrediting association, or do so within one academic year
            </p>
          </li>
            <li> 
              <p>
              present unofficial transcripts from each college or university other than Wilson College at which graduate,
              undergraduate, or non-degree credit was earned. The unofficial transcript should be easily readable and clearly indicate
              degree(s) awarded, courses and course grades for each term
            </p>
          </li>
          </ul>
        </div>
      </div>
    
    
      <div class="timeline_container left">
        <div class="content">
          <h2>Aditional Requirements</h2>
          <div class="requirement_container">
            <h4>GPA:</h4>
            <P>A student applying to this program must have a cumulative GPA of 3.0 on a 4.0 scale for either the last 60 hours of undergraduate coursework or any previous work in a master's program.</P>
          </div>
          <div class="requirement_container">
            <h4>GRE:</h4>
            <P>Applicants will need to submit GRE scores. An admitted student's typical GRE score meets or exceeds 300 (verbal and quantitative).</P>
          </div>
          <div class="requirement_container">
            <h4>English Proficiency (International Students Only):</h4>
            <P>International students must obtain a minimum TOEFL score of 79 (internet-based testing), IELTS of 6.5 or Duolingo of
            105.</P>
          </div>
        </div>
      </div>
    
    
      <div class="timeline_container right">
        <div class="content">
          <h2>Application Deadlines</h2>
          <ul>
            <li> <p>Fall Term — March 1 preferred; May 1 final</p></li>
            <li><p>Spring Term — Currently not accepting applications for spring admission.</p></li>
          </ul>
          <button class="ripple_button apply_btn">Apply Now!</button>
        </div>
      </div>
    
    
      <div class="timeline_container left">
        <div class="content">
          <h2>Graduate Assistantships</h2>
          <p>The University provides graduate assistantships as a means of financial support. They are intended as a way to facilitate a student's progress to degree while providing important professional development.</p>
          <p>To be eligible for an assistantship a student must, generally,</p>
          <ul>
            <li> 
              <p>
                be in good-standing
              </p>
          </li>
            <li> 
              <p>
                be enrolled full-time (typically at least 9 credit hours during the fall or spring semesters, or at least 6 hours during the summer session).
              </p>
          </li>
            <li> 
              <p>
                be admitted unconditionally as a degree-seeking student into a graduate academic program, or have a minimum of 120 undergraduate hours if in an integrated degree program
              </p>
          </li>
          </ul>
        </div>
      </div>
    
    
      <div class="timeline_container right">
        <div class="content">
          <h2>Benefits</h2>
          <p>Graduate assistants receive</p>
          <ul>
            <li><p>monthly wages paid in the form of either a stipend or an hourly wage</p></li>
            <li><p>a waiver for 100% of tuition during a semester of appointment</p></li>
            <li><p>a waiver for up to 12 credit hours of tuition for the summer term immediately following a fall or spring appointment</p></li>
          </ul>
        </div>
      </div>
    </div>
  </main>

  <%- include("partials/footer"); -%>